{% extends 'shop/base.html' %}
{% block title %}{{ category.name }} - პროდუქცია{% endblock %}
{% block content %}
    <h2>{{ category.name }} - პროდუქცია</h2>
    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'product_detail' category.slug product.slug %}">
                    <strong>{{ product.name }}</strong>
                </a> - Price: {{ product.price }}<br>
                {{ product.description }}
            </li>
        {% empty %}
            <li>ამ კატეგორიაში პროდუქცია არ არის.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'category_list' %}">უკან</a>
{% endblock %}
